/* Paleta Celeste Fresca */
body {
    background-color: #f0f7f9;
    font-family: 'Segoe UI', sans-serif;
    color: #334e68;
}

/* Sidebar Celeste Suave */
.sidebar {
    background-color: #5dade2;
    color: white;
    min-height: 100vh;
    padding: 1.5rem;
  }

.sidebar a {
    color: #ebf5fb;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #3498db;
    color: white;
}
/* Mejora los enlaces del sidebar */
.nav-link-sidebar {
    color: #ffffff; /* Blanco para mejor contraste */
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.nav-link-sidebar:hover, .nav-link-sidebar.active {
    background-color: #3498db; /* Azul un poco más intenso al pasar el mouse */
}

/* Tarjetas livianas */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.card-header {
    background-color: #d6eaf8 !important;
    color: #2e86c1;
    border-radius: 12px 12px 0 0 !important;
    font-weight: bold;
}

/* Botones amigables */
.btn-ps-primary {
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}

.btn-ps-primary:hover {
    background-color: #2874a6;
}